<!-- <div ng-include="template.header" class="template header"></div> -->
<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / <a ui-sref="user-admin">User Admin</a> / Assign Branch
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <span class="main bredcrums">Assign Branch</span>
        </div>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">

                <div class="col-sm-4 col-sm-offset-1">
                    Assigned Branch
                    <select multiple class="form-control ab-select" ng-model="select.a">
        <!-- <option>brance 1</option>
        <option>brance 2</option>
        <option>brance 5</option>
        <option>brance 10</option>
        <option>brance 11</option> -->
        <option ng-repeat="x in assigned track by $index" ng-value="x">
            {{x}}
        </option>
                      </select>

                </div>
                <div class="col-sm-1 ab-arrow">
                    <button class="btn label label-warning" ng-click="moveleft()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button><br/>
                    <button class="btn label label-warning" ng-click="moveright()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>

                <div class="col-sm-4">
                    Available Branch
                    <select multiple class="form-control ab-select" ng-model="select.b">
        <option ng-repeat="y in available" ng-value="y">
            {{y}}
        </option>
                        </select>
                </div>

            </div>
            <div class="form-group" style="margin-top: 50px; margin-left: 25px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mt20 text-left">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>