<div ng-include="template.header" class="template header"></div>
<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / <a ui-sref="user-admin">User Admin</a> / Assign Branch
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <span class="main bredcrums">Assign Branch</span>
        </div>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1">
                        Assigned Branch
                        <select multiple class="form-control" class="ht200">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
                      </select>
                    </div>
                </div>
                <div class="col-sm-1 ht200" style="text-align: center; margin-top: 20px;">
                    <button class="btn label label-warning"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        Available Branch
                        <select multiple class="form-control" class="ht200">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
                        </select>
                    </div>
                </div>
            </div>

        </form>
    </div>