<!-- header -->
<div ng-include="template.header" class="template header"></div>
<!-- end header -->
<!-- header bredcrums -->
<div class="add-header">
    <span class="main bredcrums"> <a href="views/template/template.html">Home</a> >> <a href="view-rules">Rule List</a> >> DRL Rules</span>
</div>
<!-- End header bredcrums -->
<div class="panel panel-default">
    <div class="form-default min-h100">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--form-divider-->
                <form action="" name="formRule">
                    <div class="row">
                        <div class="col-sm-11 col-sm-offset-1 ">
                            <div class="pull-right">
                                <button class="btn btn-info btn-md" ui-sref="view-rules">   <i class="fa fa-eye"></i>    View</button>
                            </div>
                            <div class="add-title">
                                <span class="main bredcrums">Listing Library</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-1">
                                <label class=" control-label">Transition Type</label>
                            </div>
                            <div class="col-sm-8">
                                <ui-select ng-model="drlRule.transactionType" name="country" theme="bootstrap" sortable="true">
                                    <ui-select-match placeholder="Transition Type">
                                        <span>{{$select.selected}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="country in allModels | filter: $select.search" refresh="" refresh-delay="0">
                                        {{country}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>-->
                    <div class="panel-divider">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class=" control-label">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="drlRule.name" class="form-control">
                                    <div class="pull-right" ng-repeat="(field,value) in formRule.name.$error" ng-show="formRule.name.$touched">
                                        <span class="label label-danger" ng-if="field=='required' && value">Please Select Show Results When</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-divider" ng-repeat="choice in drlRule.choices">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class=" control-label">Tables</label>
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="choice.model" on-select="addAllModel(choice.model,$index)">
                                        <ui-select-match placeholder="Select">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in allModels | filter: $select.search" refresh="" refresh-delay="0">
                                            {{country}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class=" control-label">Table Fields</label>
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="choice.field" name="country" on-select="addModelField(choice.field,$index)" theme="bootstrap" sortable="true">
                                        <ui-select-match placeholder="Select">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in allFields | filter: $select.search" refresh="" refresh-delay="0">
                                            {{country}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class=" control-label">Select Operator</label>
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="choice.operators" on-select="addOperator(choice.operators,$index)" name="choice" theme="bootstrap" sortable="true">
                                        <ui-select-match placeholder="Select Operator">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="operator as operator in operators | filter: $select.search" refresh="" refresh-delay="0">
                                            {{operator}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="radio">
                                        <label><input type="radio" name="element" value="true" ng-model="optCons" ng-click="choice.element=''">Constant</label>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Constant" ng-disabled="optCons!='true'" ng-if="optCons=='true'"
                                        ng-model="choice.constant">
                                    <div class="radio">
                                        <label><input type="radio" name="element" value="false" ng-model="optCons" ng-click="choice.constant=''">Element</label>
                                    </div>
                                    <!-- <input type="text" class="form-control" placeholder="Enter Element/Expression" ng-disabled="optCons!='false'" ng-model="choice.element"> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <!-- <label class=" control-label">Table</label> -->
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="choice.table" on-select="addAlltables(choice.table,$index)" ng-disabled="optCons!='false'" ng-if="optCons=='false'">
                                        <ui-select-match placeholder="Tables">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in allModels | filter: $select.search" refresh="" refresh-delay="0">
                                            {{country}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <!-- <label class=" control-label">Table Fields</label> -->
                                </div>
                                <div class="col-sm-8">
                                    <ui-select ng-model="choice.tableField" name="country" on-select="addModelField(choice.tableField,$index)" theme="bootstrap"
                                        sortable="true" ng-disabled="optCons!='false'" ng-if="optCons=='false'">
                                        <ui-select-match placeholder="Table Fields">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="country in allTableFields | filter: $select.search" refresh="" refresh-delay="0">
                                            {{country}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="mt20" ng-if="drlRule.choices.length>1">
                                        <a class="btn btn-danger" ng-click="removeChoice($index);">
                                            <i class="fa fa-minus" aria-hidden="true"></i> 
                                            Remove Condition </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <div class="row">
                                <div class="col-sm-11 col-sm-offset-1">
                                    <div class="form-block position-made">
                                      <span>OR </span> <input type="checkbox" checked class="iswitch iswitch-blue"> <span>AND</span>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="mt20">
                                    <a class="btn btn-success" ng-click="addNewChoice();">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Add Condition </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="mt20 text-right">
                                    <a ui-sref="view-rules" class="btn btn-primary">Cancel</a>
                                    <a class="btn btn-primary" ng-click="drlSave(drlRule)">Save</a>
                                    <!--<a ng-click="" class="btn btn-primary">Home</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--form-divider End-->
            </div>
        </div>
    </div>
</div>