<!-- header -->
<div ng-include="template.header" class="template header"></div>
<!-- end header -->
<!-- header bredcrums -->
<div class="add-header">
    <span class="main bredcrums"> <a href="views/template/template.html">Home</a> / <a href="view-rules">Rule List</a> / DRL Rules</span>
</div>
<!-- End header bredcrums -->

<div class="panel panel-default">
    <div class="form-default min-h100">
        <div class="row">
            <div class="col-sm-12">
                <!--form-divider-->
                <form action="" name="formRule">
                    <div class="row">
                        <div class="col-sm-12  ">
                            <div class="pull-right">
                                <button class="btn btn-info btn-md" ui-sref="view-rules">  
                                     <i class="fa fa-eye"></i>View</button>
                            </div>
                            <div class="add-title">
                                <span class="main bredcrums">Listing Library</span>
                            </div>
                        </div>
                    </div>

                    <div class="panel-divider fnt">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class=" control-label">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="drlRule.name" class="form-control">
                                    <div class="pull-right" ng-repeat="(field,value) in formRule.name.$error" ng-show="formRule.name.$touched">
                                        <span class="label label-danger" ng-if="field=='required' && value">Please Select Show Results When</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="choice in drlRule.choices">
                        <div class="panel-divider rule-insidepanel">
                            <div class="condindex" ng-if="drlRule.choices.length>1"> Condition {{$index+1}}</div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="mt20 close-button cur pull-right" ng-if="drlRule.choices.length>1">
                                            <span class="label label-danger" ng-click="removeChoice($index);">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class=" control-label">Tables</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="choice.model" on-select="addAllModel(choice.model,$index)">
                                            <ui-select-match placeholder="Select">
                                                <span>{{$select.selected}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in allModels | filter: $select.search" refresh="" refresh-delay="0">
                                                {{country}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class=" control-label">Table Fields</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="choice.field" name="country" on-select="addModelField(choice.field,$index)" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select">
                                                <span>{{$select.selected}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in allFields | filter: $select.search" refresh="" refresh-delay="0">
                                                {{country}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class=" control-label">Select Operator</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="choice.operators" on-select="addOperator(choice.operators,$index)" name="choice" theme="bootstrap" sortable="true">
                                            <ui-select-match placeholder="Select Operator">
                                                <span>{{$select.selected}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="operator as operator in operators | filter: $select.search" refresh="" refresh-delay="0">
                                                {{operator}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class=" control-label">Status</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="radio">
                                        <label><input type="radio" name="status{{$index}}" value="true" ng-model="isenabled">Enable </label>
                                        <label> <input type="radio" name="status{{$index}}" value="false" ng-model="isenabled">Disable </label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-3">
                                        <div class="radio" ng-init="choice.optCons='true'">
                                            <!-- ng-checked="choice.constant!=null"  -->
                                            <label><input type="radio" name="element{{$index}}" value="true"  ng-model="choice.optCons" ng-click="choice.table=''">Constant</label>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter Constant" ng-disabled="choice.optCons!='true'" ng-if="choice.optCons=='true'"
                                            ng-model="choice.constant">
                                        <div class="radio">
                                            <label><input type="radio" name="element{{$index}}" value="false" ng-model="choice.optCons" ng-click="choice.constant=''">Element</label>
                                        </div>
                                        <!-- <input type="text" class="form-control" placeholder="Enter Element/Expression" ng-disabled="optCons!='false'" ng-model="choice.element"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- <label class=" control-label">Table</label> -->
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="choice.table" on-select="addAlltables(choice.table,$index)" ng-if="choice.optCons=='false'">
                                            <ui-select-match placeholder="Tables">
                                                <span>{{$select.selected}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in allModels | filter: $select.search" refresh="" refresh-delay="0">
                                                {{country}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- <label class=" control-label">Table Fields</label> -->
                                    </div>
                                    <div class="col-sm-8">
                                        <ui-select ng-model="choice.tableField" name="country" on-select="addTableField(choice.tableField,$index)" theme="bootstrap"
                                            sortable="true" ng-if="choice.optCons=='false'">
                                            <ui-select-match placeholder="Table Fields">
                                                <span>{{$select.selected}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="country in allTableFields | filter: $select.search" refresh="" refresh-delay="0">
                                                {{country}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group" ng-show="drlRule.choices.length>$index+1">
                            <div class="row text-center">
                                <div class="switch-field">
                                    <input type="radio" id="switch_left{{$index}}" name="toggle{{$index}}" ng-model="choice.logic" value="OR" />
                                    <label for="switch_left{{$index}}">OR</label>
                                    <input type="radio" id="switch_right{{$index}}" name="toggle{{$index}}" ng-model="choice.logic" value="AND" />
                                    <label for="switch_right{{$index}}">AND</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="mt20">
                                    <a class="btn btn-success" ng-click="addNewChoice();">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Add Condition </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mt20 text-right">
                                    <a ui-sref="view-rules" class="btn btn-primary">Cancel</a>
                                    <a class="btn btn-primary" ng-click="drlSave(drlRule)">Save</a>
                                    <!--<a ng-click="" class="btn btn-primary">Home</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--form-divider End-->
            </div>
        </div>
    </div>
</div>