<div ng-include="template.header" class="template header"></div>
<div class="dashboard embed-responsive embed-responsive-16by9">
	<!-- <iframe src='http://35.184.246.124/single/?appid=ca6ec9b3-123e-44b3-bd35-bf8cf04e5024&sheet=PGzfUzF&opt=currsel&select=clearall' 
		style='border:none;'></iframe> -->
	<!-- <iframe src='http://35.184.246.124/single/?appid=594a65c8-9208-437e-b5cd-b1200aeef04a&sheet=PGzfUzF&opt=currsel&select=clearall'
	    style='border:none;'></iframe> -->
	<!--<iframe src='http://35.184.246.124/single/?appid=594a65c8-9208-437e-b5cd-b1200aeef04a&sheet=PGzfUzF&opt=currsel&select=clearall'
	    style='border:none;'></iframe>-->
	<iframe src='http://49.248.97.181/single/?appid=b7332b4b-affe-455c-8ba0-90cb82657274&sheet=PGzfUzF&opt=currsel&select=clearall'
	    style='border:none;'></iframe>
</div>