<div ng-include="template.header" class="template header"></div>
<div class="add-header">
	<div class="pull-right search-all">
		<form class="navbar-form" role="search">
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
	<span class="main bredcrums">Dashboard</span> >> <span>overview & stats</span>
</div>
