<div ng-include="template.header" class="template header"></div>
<!--<div class="add-header">
	<span class="main bredcrums">Customer Detail</span>
</div>-->

<div class="panel panel-default">
	<div class="form-default min-h100">
		<div class="table-responsive">
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
					<form action="">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<div class="upload-data">
										<upload-image ng-model=formData.fileData></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="text-right">
										<button type="submit" class="btn btn-success">Submit <i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">First Name</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Middle Name</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Surname</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</form>
			</uib-tab>
		</uib-tabset>
		</div>
		<!--<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="panel-divider">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-1 ">
							<div class="add-title">
								<span class="main bredcrums">Customer Detail</span>
							</div>
						</div>
					</div>
					<form action="">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<div class="upload-data">
										<upload-image ng-model=formData.fileData></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="text-right">
										<button type="submit" class="btn btn-success">Submit <i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">First Name</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Middle Name</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Surname</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-divider">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-8">
							<div class="add-title">
								<span class="main bredcrums">Product</span>
							</div>
						</div>
					</div>
					<form action="">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<div class="upload-data">
										<upload-image ng-model=formData.fileData></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="text-right">
										<button type="submit" class="btn btn-success">Submit <i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Product</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Product</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Product</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-divider">
					<div class="row">
						<div class="col-sm-offset-1 col-sm-8">
							<div class="add-title">
								<span class="main bredcrums">Employee</span>
							</div>
						</div>
					</div>
					<form action="">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<div class="upload-data">
										<upload-image ng-model=formData.fileData></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="text-right">
										<button type="submit" class="btn btn-success">Submit <i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Employee</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Employee</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<label class=" control-label">Employee</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="formData.countries" name="country" theme="bootstrap" sortable="true">
										<ui-select-match placeholder="Select">
											<span>{{$select.selected.name}}</span>
										</ui-select-match>
										<ui-select-choices repeat="country.name as country in countries | filter: $select.search" refresh="" refresh-delay="0">
											{{country.name}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>-->
	</div>
</div>