<div ng-include="template.header" class="template header"></div>
<div class="panel panel-default">
	<div class="form-default">
		<!--tabs for Excel Upload-->
		<div class="custom-tabs">
			<!--tabs for  Button Nav Excel Upload-->
			<div class="tab">
				<ul class="nav nav-tabs bread-cum-holder">

					<li class="btn btn-default btn-primary breadcrum {{tab.checkMe}}" ng-repeat="tab in tabs track by $index" ng-click="activeTabs($index)">{{tab.title}}</li>

				</ul>

			</div>
			<!--End tabs for  Button Nav Excel Upload-->
			<!--tabs Start-->
			<div class="remove-tabs">
				<uib-tabset active="activeJustified ">
					<uib-tab ng-repeat="tab in tabs track by $index" index="$index + 1" disable="tab.disabled">
						<!--tabs title-->
						<div class="mb-20">
							<span class="main bredcrums">{{tab.title}}</span>
						</div>
						<!--end tabs title-->
						<!--upload button-->
						<div class="upload-button">
							<div class="row">
								<div class="col-sm-4">
									<div class="upload-data">
										<upload-image ng-model=formdata.file type="excel"></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="">
										<button type="submit" class="btn btn-success" ng-click="getExcelFields(formdata)" ng-disabled="mappingDisabled" style="font-size:12px;">Mapping Excel 
											<i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>

								</div>
							</div>
						</div>
						<!--upload button end-->
						<!--Excel Upload Fields-->
						<div class="hidesect-loader">
							<img src="img/newloading.gif">
						</div>

						<!-- //static field to show -->
						<div class="static-form form-group fnt-cpt" ng-repeat="formname in staticfields" ng-show="!excelloaded">
							<div class="row">
								<div class="col-sm-4 ">
									<label class="control-label">{{formname.field}} 
											<i class="fa fa-info-circle" tooltip-placement="{{formname.description}}" uib-tooltip="{{formname.description}}"></i>
										</label>
								</div>
								<div class="col-sm-6">
									<ui-select ng-model="staticform" name="country" ng-disabled=true theme="bootstrap" sortable="true" ng-required="true">
										<ui-select-match placeholder="Select">
											<span class="fnt"></span>
										</ui-select-match>
										<ui-select-choices class="fnt" repeat="country in excelData.excelFields | filter: $select.search track by $index" refresh=""
										    refresh-delay="0">
											{{country}}
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="cust-details_hidesect">
							<div class="custom-scroll fnt-cpt">
								<div class="form-group" ng-repeat="formname in excelData.fields">
									<div class="row">
										<div class="col-sm-4 ">
											<label class="control-label">{{formname.field}} 
											<i class="fa fa-info-circle" tooltip-placement="{{formname.description}}" uib-tooltip="{{formname.description}}"></i>
										</label>
										</div>
										<div class="col-sm-6">
											<ui-select ng-model="formData[formname.field]" name="country" theme="bootstrap" sortable="true" ng-required="true">
												<ui-select-match placeholder="Select">
													<span class="fnt">{{$select.selected}}</span>
												</ui-select-match>
												<ui-select-choices class="fnt" repeat="country in excelData.excelFields | filter: $select.search track by $index" refresh=""
												    refresh-delay="0">
													{{country}}
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
								</div>

							</div>
							<!--End Excel Upload Fields-->

							<div class="mt-10 mb-20 submitmgn">
								<button type="submit" class="btn btn-info fnt" ng-click="mapExcelFields(formData,formdata)" promise-btn>Submit</button>
							</div>

							<!-- <div class="cust-details_loader">
								<img src="img/newloading.gif">
							</div>
							<div class="cust-details_loader_done">
								<span>Your Data Has Been Processed</span>
							</div> -->
						</div>
						<!-- <div class="mt-10 mb-20">
							<button type="submit" class="btn btn-primary btn-big" ng-click="getHistory()">Update Logs</button>

						</div> -->
						<div class="mb-5 mt-10">
							<span class="cust-details-logs">Logs</span>
						</div>
						<!--Logs Tabel History-->
						<!-- <div class="logs-tabel" ng-if="eData.length>0"> -->
						<!-- <div class="logs-tabel">
							<div class="dataTables_wrapper">
								<div class="table table-bordered table-hover">
									<div class="log-history">
										<div class="row">
											<div class="col-xs-4 ">
												<div class="pad-5 title-sub">Date</div>
											</div>
											<div class="col-xs-2">
												<div class="pad-5 title-sub">Success</div>
											</div>

											<div class="col-xs-2">
												<div class="pad-5 title-sub">Failure</div>
											</div>

											<div class="col-xs-2">
												<div class="pad-5 title-sub">Total Upload</div>
											</div>
											<div class="col-xs-2">
												<div class="pad-5 title-sub">Status</div>
											</div>
										</div>
									</div>
									<div ng-repeat="logData in eData track by $index" ng-if="eData">
										<div class="log-history">
											<div class="row pointer">
												<div ng-click="" ui-sref="error-log({error_id:logData.id})">
													<div class="col-xs-4">
														<div class="pad-5 inside-history">
															<span class="primary" style="color: #527d96;">{{logData.createdAt | date:'medium'}}</span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span class="success"> {{logData.succesCount}} 
															<i class="fa fa-check-circle"></i></span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span class="danger"> {{logData.errorCount}}
															<i class="fa fa-times-circle"></i></span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span style="color:#5397be;">{{logData.succesCount+logData.errorCount}}
															<i class="fa fa-upload" aria-hidden="true"></i></span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span ng-class="whatClassIsIt(logData.status)">{{logData.status}}</span>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div> -->


						<!-- logs in table form -->




						<!-- old logs table ui -->
						<!-- <div class="logs-tabel">
							<div class="dataTables_wrapper table-responsive  container-fluid">
								<table class="table table-hover">
									<thead class="thead-inverse">
										<tr>
											<th>
												Date
											</th>
											<th>
												Success
											</th>

											<th>
												Failure
											</th>

											<th>
												Total Upload
											</th>
											<th>
												Status
											</th>
										</tr>
									</thead>
									<tbody>
									
										<tr ng-repeat="logData in eData track by $index" ng-if="eData" ui-sref="error-log({error_id:logData.id})">
											<td class="primary" style="color: #527d96;">{{logData.createdAt | date:'medium'}}
											</td>
											<td>
												<span class="success" ng-show="{{logData.status=='Completed'}}"> {{logData.succesCount}}
												<i class="fa fa-check-circle"></i></span>
											</td>
											<td>
												<span class="danger" ng-show="{{logData.status=='Completed'}}">{{logData.errorCount}}
												<i class="fa fa-times-circle"></i></span>
											</td>
											<td>
												<span style="color:#5397be;" ng-show="{{logData.status=='Completed'}}">{{logData.succesCount+logData.errorCount}}
												<i class="fa fa-upload" aria-hidden="true"></i></span>
											</td>
											<td>
												<span ng-class="whatClassIsIt(logData.status)">{{logData.status}}</span>
											</td>
										</tr>
										<div class="row pointer">
											<div ng-click="" ui-sref="error-log({error_id:logData.id})">
											</div>
										</div>
										</tr>
									</tbody>
								</table>
							</div>
						</div> 
						 -->
						<!-- new logs table ui -->

						<div class="logs-tabel">
							<div class="dataTables_wrapper table-responsive  container-fluid">
								<table class="table table-hover">
									<thead class="thead-inverse">
										<tr>
											<th>
												Date
											</th>
											<th>
												Link
											</th>
										</tr>
									</thead>
									<tbody>

										<tr ng-repeat="logData in eData track by $index" ng-if="eData">
											<td class="primary" style="color: #527d96;">{{logData.createdAt | date:'medium'}}
											</td>
											<td><a class="label label-success pointer" ui-sref="view-log({log_id:logData.id})"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
										</tr>
										<!-- <div class="row pointer">
											<div ng-click="" ui-sref="error-log({error_id:logData.id})">
											</div>
										</div>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>



						<!--End Logs Tabel History-->
					</uib-tab>
				</uib-tabset>
			</div>

			<!--tabs End-->
		</div>
		<!--End tabs for Excel Upload-->
	</div>
</div>