<div ng-include="template.header" class="template header"></div>
<div class="panel panel-default">
	<div class="form-default">
		<!--tabs for Excel Upload-->
		<div class="custom-tabs">
			<!--tabs for  Button Nav Excel Upload-->
			<div class="tab">
				<ul class="nav nav-tabs bread-cum-holder">

					<li class="btn btn-default btn-primary breadcrum {{tab.checkMe}}" ng-repeat="tab in tabs track by $index" ng-click="activeTabs($index)">{{tab.title}}</li>

				</ul>

			</div>
			<!--End tabs for  Button Nav Excel Upload-->
			<!--tabs Start-->
			<div class="remove-tabs">
				<uib-tabset active="activeJustified ">
					<uib-tab ng-repeat="tab in tabs track by $index" index="$index + 1" disable="tab.disabled">
						<!--tabs title-->
						<div class="mb-20">
							<span class="main bredcrums">{{tab.title}}</span>
						</div>
						<!--end tabs title-->
						<!--upload button-->
						<div class="upload-button">
							<div class="row">
								<div class="col-sm-4 col-sm-offset-1">
									<div class="upload-data">
										<upload-image ng-model=formdata.file type="excel"></upload-image>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="text-right">
										<button type="submit" class="btn btn-success brd-rd-20" ng-click="getExcelFields(formdata)" ng-disabled="mappingDisabled">Mapping Excel 
											<i class="fa fa-upload" aria-hidden="true"></i></button>
									</div>

								</div>
							</div>
						</div>
						<!--upload button end-->
						<!--Excel Upload Fields-->
						<div class="hidesect-loader">
							<img src="img/newloading.gif">
						</div>
						<div class="cust-details_hidesect">
							<div class="custom-scroll">
								<div class="form-group" ng-repeat="formname in excelData.fields">
									<div class="row">
										<div class="col-sm-4 col-sm-offset-1 ">
											<!-- {{formname}} -->
											<label class="control-label">{{formname.field}} 
											<i class="fa fa-info-circle" tooltip-placement="{{formname.description}}" uib-tooltip="{{formname.description}}"></i>
										</label>
										</div>
										<div class="col-sm-6">
											<ui-select ng-model="formData[formname.field]" name="country" theme="bootstrap" sortable="true" ng-required="true">
												<ui-select-match placeholder="Select">
													<span>{{$select.selected}}</span>
												</ui-select-match>
												<ui-select-choices repeat="country in excelData.excelFields | filter: $select.search track by $index" refresh="" refresh-delay="0">
													{{country}}
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
								</div>
							</div>
							<!--End Excel Upload Fields-->

							<div class="text-center mt-10 mb-20">
								<button type="submit" class="btn btn-info" ng-click="mapExcelFields(formData,formdata)" promise-btn>Submit</button>
							</div>

							<div class="cust-details_loader">
								<img src="img/newloading.gif">
							</div>
							<div class="cust-details_loader_done">
								<span>Your Data Has Been Processed</span>
							</div>
						</div>
						<!-- <div class="mt-10 mb-20">
							<button type="submit" class="btn btn-primary btn-big" ng-click="getHistory()">Update Logs</button>

						</div> -->
						<div class="mb-5 mt-10">
							<span class="cust-details-logs">Logs</span>
						</div>
						<!--Logs Tabel History-->
						<!-- <div class="logs-tabel" ng-if="eData.length>0"> -->
						<div class="logs-tabel">
							<div class="dataTables_wrapper">
								<div class="table table-bordered">
									<div class="log-history">
										<div class="row">
											<div class="col-xs-4 ">
												<div class="pad-5 title-sub">Date</div>
											</div>
											<div class="col-xs-2">
												<div class="pad-5 title-sub">Sucess</div>
											</div>

											<div class="col-xs-2">
												<div class="pad-5 title-sub">Failer</div>
											</div>

											<div class="col-xs-2">
												<div class="pad-5 title-sub">Total Upload</div>
											</div>
											<div class="col-xs-2">
												<div class="pad-5 title-sub">Status</div>
											</div>
										</div>
									</div>
									<div ng-repeat="logData in eData track by $index" ng-if="eData">
										<div class="log-history">
											<div class="row pointer">
												<div ng-click="openLogs(logData)">
													<div class="col-xs-4">
														<div class="pad-5 inside-history">{{logData.createdAt | date:'medium'}}</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span class="success"> {{logData.succesCount}} 
															<i class="fa fa-check-circle"></i></span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															<span class="danger"> {{logData.errorCount}}
															<i class="fa fa-times-circle"></i></span>
														</div>
													</div>
													<div class="col-xs-2">
														<div class="pad-5 inside-history">
															{{logData.succesCount+logData.errorCount}}
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="inside-status" ng-if="logData.isOpen">
											<div class="log-history" ng-if="logInsideData.error.errors">
												<div class="row">
													<div class="col-xs-3">
														<div class="pad-5 title-sub">Row # </div>
													</div>
													<div class="col-xs-6">
														<div class="pad-5 title-sub">Status</div>
													</div>

													<div class="col-xs-3">
														<div class="pad-5 title-sub">Total Entries: {{logData.succesCount+logData.errorCount}}</div>
													</div>
												</div>
											</div>
											<div class="log-history" ng-repeat="logs in logInsideData track by $index" ng-if="logs.error.errors">
												<div class="row">
													<!-- <div class="row"> -->

													<div class="col-xs-3">
														<div class="pad-5 inside-history">
															<span class="danger"><i class="fa fa-times-circle"></i> Row:{{logs.rowNo+2}}</span>
														</div>
													</div>
													<div class="col-xs-9">
														<div class="pad-5 inside-history">
															<span>
														<pre class="danger-pre"><code>{{logs.error.errors|json}}</code></pre>
														</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End Logs Tabel History-->
					</uib-tab>
				</uib-tabset>
			</div>

			<!--tabs End-->
		</div>
		<!--End tabs for Excel Upload-->
	</div>
</div>