<div ng-include="template.header" class="template header"></div>
<div class="dashboard embed-responsive embed-responsive-16by9">
    <!-- <iframe src='http://35.184.246.124/single/?appid=ca6ec9b3-123e-44b3-bd35-bf8cf04e5024&sheet=f9219793-f877-469e-ba49-b6df2b639598&opt=currsel&select=clearall' style='border:none;'></iframe> -->
    <iframe src='http://35.184.246.124/single/?appid=594a65c8-9208-437e-b5cd-b1200aeef04a&sheet=041d4ba4-a52f-48e4-984c-380bbe13e487&opt=currsel&select=clearall'
        style='border:none;'></iframe>

</div>