<!-- <div ng-include="template.header" class="template header"></div> -->

<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / Rules Admin / Transaction
        </span>
</div>


<div class="panel panel-default panel-rad panel-spacing" style="margin-bottom:0;">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <h4 class="main bredcrums">Transaction</h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Transaction Name</th>
                        <th>title demo 1</th>
                        <th>title demo 2</th>
                        <th>title demo 3</th>
                        <th>Violation Rule</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tranData in transactionData track by $index">
                        <td>{{tranData.createdAt}}</td>
                        <!-- <td ng-repeat="rules in tranData.violations track by $index">
                            {{rules.name}}
                        </td> -->
                        <td>demo 1</td>
                        <td>demo 2</td>
                        <td>demo 3</td>
                        <td class="violated-td">
                            <!-- <div class="violation-details">
                                <div class="label label-danger pointer"><i class="fa fa-ban" aria-hidden="true"></i></div>
                                <div class="vio-details">

                                    <div class="vio-list" ng-repeat="rules in tranData.violations">{{rules.name}}</div>

                                </div>
                            </div> -->
                            <div class="vio-list" ng-repeat="rules in tranData.violations"><span ng-show="$index>0">,</span><span>{{rules.name}}</span></div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                </ul>

                <!--<div class="col-xs-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous"><a href="#">Previous</a></li>
                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button next" tabindex="0"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dataTables_info">Showing 1 to 10 of 57 entries</div>
                </div>-->
            </div>
        </div>

    </div>
</div>