<!-- <div ng-include="template.header" class="template header"></div> -->

<div class="add-header">
    <span class="main bredcrums">
        <a href="">Home</a> /
        <a href="">Rules Admin</a> / Violations
    </span>
</div>


<div class="panel panel-default panel-rad panel-spacing" style="margin-bottom:0;">
    <div class="panel-heading">
        <div class="add-title col-md-12">
            <h4 class="main bredcrums horizontal_bar">Violations</h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Transaction Date</th>
                        <th>Store No</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Violation Rule</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tranData in transactionData track by $index" ui-sref="view-violated-rule({id:tranData._id})">

                        <td>{{tranData.activdate|date}}</td>
                        <!-- <td ng-repeat="rules in tranData.violations track by $index">
                            {{rules.name}}
                        </td> -->
                        <td>{{tranData.transactionJson.locationData.storeNumber}}</td>
                        <td>{{tranData.transactionJson.locationData.state}}</td>
                        <td>{{tranData.transactionJson.locationData.city}}</td>
                        <td class="violated-td">
                            <!-- <div class="violation-details">
                                <div class="label label-danger pointer"><i class="fa fa-ban" aria-hidden="true"></i></div>
                                <div class="vio-details">

                                    <div class="vio-list" ng-repeat="rules in tranData.violations">{{rules.name}}</div>

                                </div>
                            </div> -->
                            <div class="vio-list" ng-repeat="rules in tranData.violations">
                                <span ng-show="$index>0">,</span>
                                <span>{{rules.name}}</span>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                </ul>
            </div>
        </div>

    </div>
</div>