<div ng-include="template.header" class="template header"></div>
<div class="add-header">
	<div class="pull-right search-all">
		<form class="navbar-form" role="search">
			<div class="input-group add-on">
				<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
	<span class="main bredcrums">Dashboard</span> >> <span>overview & stats</span>
</div>
<div class="title-all">
	<h4>
		iSee Snapshot - Administration
	</h4>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="xe-widget xe-counter-block" xe-counter="" data-count=".num" data-from="0" data-to="99.9" data-suffix="%" data-duration="2">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa fa-money"></i>
				</div>
				<div class="xe-label">
					<strong class="num">89.9%</strong>
					<span>CASH REFUNDS</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>Result</span>
				<strong>78% Increase</strong>
			</div>
		</div>
	</div>
	<div class="col-sm-4">

		<div class="xe-widget xe-counter-block xe-counter-block-purple" xe-counter="" data-count=".num" data-from="0" data-to="512"
		    data-duration="3">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa fa-camera"></i>
				</div>
				<div class="xe-label">
					<strong class="num">512</strong>
					<span>POS MARKDOWNS</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>Increase</span>
				<strong>512 POS MARKDOWNS</strong>
			</div>
		</div>

	</div>
	<div class="col-sm-4">

		<div class="xe-widget xe-counter-block xe-counter-block-blue" xe-counter="" data-suffix="k" data-count=".num" data-from="0"
		    data-to="310" data-duration="4" data-easing="false">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa-credit-card"></i>
				</div>
				<div class="xe-label">
					<strong class="num">310k</strong>
					<span>Petty Cash</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>Petty Cash Rate</span>
				<strong>51.55%</strong>
			</div>
		</div>

	</div>
	<div class="col-sm-4">

		<div class="xe-widget xe-counter-block xe-counter-block-orange">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa-life-ring"></i>
				</div>
				<div class="xe-label">
					<strong class="num">24</strong>
					<span>Repairs</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>Repairs decreased</span>
				<strong xe-counter="" data-count="this" data-from="0" data-to="14215" data-duration="2">14,215</strong>
			</div>
		</div>

	</div>
	<div class="col-sm-4">

		<div class="xe-widget xe-counter-block xe-counter-block-danger" xe-counter="" data-count=".num" data-from="0" data-to="512"
		    data-duration="3">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa fa-camera"></i>
				</div>
				<div class="xe-label">
					<strong class="num">512</strong>
					<span>POST VOIDS</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>Increase</span>
				<strong>512 POS MARKDOWNS</strong>
			</div>
		</div>

	</div>
	<div class="col-sm-4">

		<div class="xe-widget xe-counter-block xe-counter-block-turquoise" xe-counter="" data-suffix="k" data-count=".num" data-from="0"
		    data-to="310" data-duration="4" data-easing="false">
			<div class="xe-upper">

				<div class="xe-icon">
					<i class="fa-credit-card"></i>
				</div>
				<div class="xe-label">
					<strong class="num">310k</strong>
					<span>LAYAWAY</span>
				</div>

			</div>
			<div class="xe-lower">
				<div class="border"></div>

				<span>LAYAWAY</span>
				<strong>51.55%</strong>
			</div>
		</div>

	</div>
</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="chart-item-bg">
			<div class="sub-title chart-header">
				<h4>Analytical Engine Outcome</h4>
			</div>
			<highchart config="chartConfig" style="height: 410px;"></highchart>
		</div>

	</div>
</div>