<div ng-include="template.header" class="template header"></div>
<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / User Admin
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <span class="main bredcrums">User Admin</span>
        </div>
    </div>
    <div class="panel-body useradmin-panel">
        <div class="form-default min-h100">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" name="useradminform">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Company</label>
                                </div>
                                <div class="col-sm-8">
                                    <ui-select name="company" ng-model="selectedcompany" on-select="" required>
                                        <ui-select-match placeholder="Select">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="company in companylist" refresh="" refresh-delay="0">
                                            {{company}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Role </label>
                                </div>
                                <div class="col-sm-8">
                                    <ui-select name="Role" ng-model="selectedrole" on-select="" required>
                                        <ui-select-match placeholder="Select">
                                            <span>{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="rule in rulelist" refresh="" refresh-delay="0">
                                            {{rule}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">User ID </label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label">Password </label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="passowrd" ng-model="password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mt20 text-left">
                                        <button class="btn btn-primary" ng-disabled="useradminform.$invalid" ui-sref="assign-branch">Assign Branch</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>