<div class="add-header">
    <span class="main bredcrums">
        <a href="views/template/template.html">Home</a> /
        <a ui-sref="customer-detail">Customer Details </a> / <a ui-sref="view-log({log_id:log_id})">Logs</a> / success log
    </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <span class="main bredcrums">Success Logs</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <div class="logs-tabel">
                <div class="dataTables_wrapper table-responsive  container-fluid">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Success
                                </th>

                                <th>
                                    Failure
                                </th>

                                <th>
                                    Total Upload
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td>Demo1</td>
                                <td>Demo2</td>
                                <td>Demo3</td>
                                <td>Demo4</td>
                                <td>Demo5</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>
</div>