<div ng-include="template.header" class="template header"></div>

<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / <a ui-sref="view-rules">Rule List</a> / <a >Violated Rules</a> / View Violated Rules
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-12">
            <span class="main bredcrums">View Violated Rules {{$stateParams.id}}</span>
        </div>
    </div>
    <div class="panel-body">
        <!-- on clicking violated rule -->
        <div class="vio-table col-xs-4 ">
            <span>Heading</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="vio-table col-xs-4 ">
            <span>Heading</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="vio-table col-xs-4 ">
            <span>Heading</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="vio-table col-xs-4 ">
            <span>Heading</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                    <tr>
                        <td>company</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>