<div ng-include="template.header" class="template header"></div>
<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / Rules List
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-6">
            <span class="main bredcrums">Rules List</span>
        </div>

        <div class="panel-options col-md-6">
            <form class="navbar-form ng-pristine ng-valid ng-submitted" role="search">
                <!-- <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div> -->
                <a class="btn btn-success col-white pull-right" ui-sref="drl-rule">
                <i class="fa fa-plus"></i>
                    Add Rules
                </a>
            </form>

        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rule Name</th>
                        <th>Execute</th>
                        <th>Violations</th>
                        <th>Status</th>
                        <th>Sub Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in allRules">
                        <td>{{data.name}} <a class="mg-left-20" ui-sref="drl-rule({ruleId:data._id})" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </td>
                        <!-- <td> <a class="btn btn-primary" ui-sref="drl-rule({ruleId:data._id})">View</a></td> -->

                        <td> <a class="mg-left-20 label label-warning" ng-click="executeRule({ruleId:data._id});changeexec()"
                                ng-class="{'exec':isexec}" ng-hide="{{data.status=='Completed'|| data.status=='Processing' || data.subStatus=='Disabled'}}">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                        </td>
                        <!-- <td> <a class="btn btn-primary" ui-sref="violatedRules({ruleId:data._id})">Violation</a></td> -->
                        <td>
                            <a class="mg-left-40  label label-danger" ui-sref="violatedRules({ruleId:data._id})" title="View Violated Rule" ng-show="{{data.status=='Completed'}}"> 
                                 <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <label class="label" ng-class="whatClassIsIt(data.status)"> {{data.status}}</label>

                        </td>
                        <td>
                            <button type="button" class=" btn label label-warning" ng-show="data.subStatus=='Enable'" ng-click="changeenable();changeSubStatus(data._id,'Disabled')">Enable</button>
                            <button type="button" class="btn label label-info" ng-show="data.subStatus!='Enable'" ng-click="changeenable();changeSubStatus(data._id,'Enable')">Disabled</button>
                        </td>
                    </tr>
            </table>
            <div class="row">
                <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                </ul>

                <!--<div class="col-xs-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous"><a href="#">Previous</a></li>
                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button next" tabindex="0"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dataTables_info">Showing 1 to 10 of 57 entries</div>
                </div>-->
            </div>
        </div>

    </div>
</div>