<!-- <div ng-include="template.header" class="template header"></div> -->

<div class="add-header">
    <span class="main bredcrums"> 
        <a href="views/template/template.html">Home</a> / <a ui-sref="view-rules">Rules List</a> / <a ui-sref="view-rules">Violated Transactions</a> / View Violated Transactions
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="add-title col-md-12">
            <h4 class="main bredcrums horizontal_bar">View Violated Transactions </h4>
        </div>
    </div>
    <div class="panel-body column-2" style="padding-top:0px;">
        <!-- on clicking violated rule -->
        <div class="vio-table col-md-12">
            <span>Company Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt')" ng-repeat="(tableField,tableData) in violationResult.transactionJson.companyData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Location Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='organizationId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.locationData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Till Register Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='retailLocationId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.tillRegisterData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Customer Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='retailLocationId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.customerData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Calendar Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Activity Date</td>
                        <td>{{violationResult.transactionJson.calendarData.activityDate|date:'medium'}}</td>
                    </tr>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='retailLocationId' || tableField=='activityDate')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.calendarData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Crm Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='organizationId'  || tableField=='customerId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.crmData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Company Contact Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='organizationId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.companyContactData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Item Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='organizationId'|| tableField=='warrantyItemId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.itemData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="vio-table col-md-12">
            <span>Company Info Table</span>

            <table class="table table-hover table-responsive">
                <thead>
                    <th>Title</th>
                    <th>value</th>
                </thead>
                <tbody>
                    <tr ng-if="!(tableField=='_id' || tableField=='__v' || tableField=='createdAt' || tableField=='updatedAt' || tableField=='organizationId')"
                        ng-repeat="(tableField,tableData) in violationResult.transactionJson.companyInfoData track by $index">
                        <td>{{tableField}}</td>
                        <td>{{tableData}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>