<!-- <div ng-include="template.header" class="template header"></div> -->
<div class="add-header">
    <span class="main bredcrums"> 
       <a href="">Home</a> >> <a href="view-rules">Rule List</a> >> Rule List Detail 
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-options">
            <form class="navbar-form ng-pristine ng-valid ng-submitted" role="search">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="add-title">
            <span class="main bredcrums">Rule List Detail</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Field</th>
                        <th>Operator</th>
                        <th>Constant</th>
                        <th>Expression</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in singleRuleData.rule">
                        <th>{{data.model}}</th>
                        <td>{{data.field}}</td>
                        <td>{{data.operators}}</td>
                        <td>{{data.constant}}</td>
                    </tr>
            </table>
            <div class="row">
                <div class="col-xs-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous"><a href="#">Previous</a></li>
                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button next" tabindex="0"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dataTables_info">Showing 1 to 10 of 57 entries</div>
                </div>
            </div>
        </div>

    </div>
</div>