<div ng-include="template.header" class="template header"></div>
<div class="add-header">
    <span class="main bredcrums"> 
         <a href="views/template/template.html">Home</a> >> <a ui-sref="view-rules">Rule List</a> >>ViolatedRules
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-options">
            <form class="navbar-form ng-pristine ng-valid ng-submitted" role="search">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="add-title">
            <span class="main bredcrums">Violated Rules</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Violated Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in violatedRuleData track by $index" ui-sref="view-violated-rule({id:data.nameData})">
                        <th>{{data.nameData}}</th>
                        <td>
                            {{data.matchPath[0]}}
                            <!--<ul ng-repeat="data1 in data.result track by $index">{{data1}}</ul>-->
                        </td>
                    </tr>
            </table>
            <div class="row">
                <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="template.pageMax "
                    class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                </ul>
                <!--<div class="col-xs-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous"><a href="#">Previous</a></li>
                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button next" tabindex="0"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dataTables_info">Showing 1 to 10 of 57 entries</div>
                </div>-->
            </div>
        </div>

    </div>
</div>