<div ng-include="template.header" class="template header"></div>
<div class="add-header">
    <span class="main bredcrums"> 
         <a href="views/template/template.html">Home</a> / <a ui-sref="view-rules">Rules List</a> / Violated Transactions
        </span>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-options">
            <form class="navbar-form ng-pristine ng-valid ng-submitted" role="search">
                <div class="input-group add-on">
                    <input class="form-control" type="text " ng-change="getAllItems(true) " placeholder="Search Here...
                        " ng-model="search.keyword " />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="add-title">
            <span class="main bredcrums">Violated Transactions</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive dataTables_wrapper container-fluid">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Location </th>
                        <th>Customer </th>
                        <th>Customer </th>
                        <th>Calender</th>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in violationData track by $index">
                        <th>{{data.transactionJson.companyData.name}}</th>

                        <td>
                            {{data.transactionJson.locationData.storeName}}
                        </td>
                        <td>
                            {{data.transactionJson.customerData.city}}
                        </td>
                        <td>
                            {{data.transactionJson.customerData.email}}
                        </td>
                        <td>
                            {{data.transactionJson.calendarData.activityDate|date:'medium'}}
                        </td>
                        <td>
                            {{data.transactionJson.crmData.salutation}} {{data.transactionJson.crmData.firstName}} {{data.transactionJson.crmData.lastName}}
                        </td>
                        <td>
                            <a class="viewicon" ui-sref="view-violated-rule({id:data._id})"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <ul ng-if="totalItems " ng-change="changePage(currentPage); " uib-pagination total-items="totalItems
                                            " items-per-page="maxRow " ng-model="currentPage " max-size="10" class="pagination-sm
                                            " boundary-links="true " force-ellipses="true ">
                </ul>
                <!--<div class="col-xs-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button previous"><a href="#">Previous</a></li>
                            <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                            <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                            <li class="paginate_button next" tabindex="0"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dataTables_info">Showing 1 to 10 of 57 entries</div>
                </div>-->
            </div>
        </div>

    </div>
</div>