/* Bootstrap Variables Goes Here */

$brand-primary: #5397be !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffc600 !default;
$brand-danger: #e53d0a !default;
$brand-info: #2191d0 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    // padding-top: 70px;
    background-color: #eee;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.mt20 {
    margin-top: 20px;
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

.page-container .main-content {
    display: block;
    min-height: calc(100vh - 78px);
}

.xe-widget.xe-counter {
    margin: 0;
    border: 1px solid #ddd;
    width: 50%;
    float: left;
}

// colors
.color-red {
    background: $brand-danger!important;
}

.color-blue {
    background: $brand-info !important;
}

.color-yellow {
    background: $brand-warning !important;
}

//All button 
// .btn {
//     padding: 6px 25px;
// }
.panel .panel-heading>.panel-options a.btn-primary {
    color: #fff;
}

// for navigation
.user-info-navbar {
    .user-info-menu {
        li {
            border: none;
            &.user-profile .userpic-32 {
                margin-top: -17px;
                top: 1px;
            }
            a {
                padding: 15px 20px;
                color: #fff;
                border: none;
                &.menu-icons {
                    padding: 26px 20px;
                }
                &:hover {
                    color: darken(#fff, 15%)
                }
            }
        }
    }
}

//add header
.add-header {
    margin-left: -30px;
    margin-right: -30px;
    background: #fff;
    padding: 12px 30px 16px;
    margin-top: -20px;
    margin-bottom: 20px;
    span.main.bredcrums {
        font-size: 12px;
        color: $brand-primary;
        color: #5d5d5d;
        font-weight: 400;
    }
    .search-all {
        margin-top: -3px;
    }
}

//
.add-title {
    padding: 12px 0px;
    span.main.bredcrums {
        font-size: 14px;
        color: $brand-primary; // color: #5d5d5d;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin-left: 20px;
    }
}

.img-responsive {
    max-width: intial;
    width: 100%;
}

.navbar {
    border-radius: 0; // border-bottom: 1px solid #ddd !important;
}

.sidebar-menu {
    background: #ffffff;
    color: 000;
    width: 250px; // box-shadow: 0px 2px 6px #000;
    .logo-env {
        background: $brand-primary;
    }
    .fixed {
        height: 100vh;
    }
    @include transition(width 500ms);
    .main-menu {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        height: calc(100vh - 70px);
        overflow-y: auto; //scroll
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 3px;
            height: 0px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #ccc;
        } //scroll end
        // li {
        //     @include transition (all ease 300ms);
        //     a {
        //         padding: 15px;
        //         border-bottom: 1px solid #fff;
        //         color: #000;
        //     }
        //     ul {
        //         display: block;
        //         // height: 0;
        //         @include transition( height 500ms);
        //     }
        //     &.expanded ul {
        //         display: block;
        //         height: auto;
        //         li {
        //             &.active a {
        //                 color: #000;
        //             }
        //             &:hover {
        //                 a {
        //                     background: $brand-primary;
        //                     color: #fff;
        //                 }
        //             }
        //         }
        //     }
        //     &.active a {
        //         color: #000;
        //         &:before {
        //             color: #000;
        //         }
        //     }
        //     &:hover {
        //         .hoverClass {
        //             background: $brand-primary;
        //             color: #fff;
        //             &:before {
        //                 color: #fff;
        //             }
        //         }
        //     }
        // }
    }
    .logo-env {
        padding: 18px 10px;
        border-bottom: 1px solid #ddd;
    }
    .logo-expanded {
        color: #fff;
        font-size: 14px;
        &:hover,
        &:focus {
            color: darken(#fff, 5%);
            text-decoration: none;
        }
        img {
            margin-right: 5px;
        }
    }
    &.collapsed {
        .logo-env {
            padding: 20px 0;
        }
    }
}

.sidebar-menu .main-menu {
    ul {
        display: block;
    }
    a {
        border-width: 0;
        padding: 8px;
        font-weight: 400;
        color: #5d5d5d;
        &:hover {
            color: $brand-primary;
        }
    }
}

// .sidebar-menu.collapsed .main-menu>li a.active,
// .sidebar-menu.collapsed .main-menu>li li a.active {
//     background-color: $brand-primary;
// }
.sidebar-menu.collapsed+.main-content .user-info-navbar .user-info-menu a[data-toggle=sidebar] {
    color: #fff;
}

.image-3 img {
    padding-top: 20px;
}

.navbar-form {
    margin-top: 0;
}

.task-made {
    padding-top: 10px;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 10px 8px;
            float: left;
            width: 33.33%;
            min-height: 62px;
            text-align: left;
            margin-right: 0px;
            span {
                display: inline-block;
                vertical-align: middle;
                padding-right: 2px;
                letter-spacing: 1px;
                &.font-graph {
                    font-size: 20px;
                }
            }
        }
    }
}

.obervation-text {
    position: relative;
    margin-top: 20px;
    textarea {
        width: calc(100% - 55px);
        margin-left: 55px;
        border-radius: 8px;
        resize: none;
        border: 2px solid #2191d0;
    }
    .edit-submit {
        font-size: 32px;
        position: absolute;
        left: 0;
        background: #2191d0;
        color: #fff;
        padding: 5px 10px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
}

.success {
    color: $brand-success;
}

.danger {
    color: $brand-danger;
}

.primary {
    color: $brand-primary;
}

.bg-green {
    background: #68bc30 !important;
}

.bg-blue {
    background: #2191d0 !important;
}

.bg-red {
    background: $brand-danger !important;
}

//error message
.danger-pre {
    background-color: #fff5f5;
    font-size: 12px;
    line-height: 120%;
}

.color-white {
    color: #fff;
}

.fnt-26 {
    font-size: 26px;
}

.fnt-16 {
    font-size: 14px;
}

.chart-header {
    padding: 1px 15px;
    background: #ddd;
    h4 {
        font-size: 16px;
        color: #444;
        font-weight: 300;
    }
}

.title-all {
    background: rgba(70, 176, 0, 0.43);
    padding: 1px 20px 18px;
    margin-bottom: 20px;
    border-radius: 4px;
    h4 {
        font-size: 14px;
    }
}

.rules-code {
    width: 300px;
    background: #fff;
    border: 2px solid #bcbcbc;
    padding: 20px 20px 20px 80px;
    margin: 30px auto;
    border-radius: 8px;
    .if {
        padding-bottom: 8px;
    }
    .then {
        padding: 0 11px 8px;
    }
}

//corporate Theme
// .corporate {
.user-info-navbar {
    background-color: $brand-primary;
}

.xe-widget.xe-counter.width-33 {
    width: 33%;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

// fullscreen
.min-h100 {
    min-height: 100vh;
}

.login-bg {
    background: #5397be;
}

//button rounded
.btn-rounded {
    border-radius: 15px;
    padding: 4px 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

//button Upload
.btn-upload {
    position: relative;
    cursor: pointer;
    input[type="file"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

//pagination css
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #373e4a;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

//Login or Blank Screen
.blank-screen {
    position: relative;
    .content {
        padding: 0;
    }
    .login-sec-inside {
        padding: 20px 0;
    }
    .login-sec {
        position: absolute;
        top: 50%;
        width: 100%;
        @include transform (translateY(-50%));
        .panel {
            border-radius: 8px;
        }
        .logo {
            margin-bottom: 40px;
        }
        .form-group.has-primary-custom {
            border: 1px solid $brand-primary;
            margin-bottom: 30px;
            .input-group-addon {
                background: #fff;
                border: 0;
                padding: 6px 0px 6px 9px;
                i {
                    color: #b2b2b2;
                }
            }
            .form-control {
                border: 0;
            }
            .label-danger {
                font-weight: 400;
                letter-spacing: 2px;
            }
        }
    }
    .forgot-band {
        margin: 8px -31px -21px;
        background: #c3f1b0;
        padding: 7px 6px;
        a {
            color: #777;
            text-decoration: underline;
            @include transition (all ease 300ms);
            &:hover {
                color: lighten(#777, 10%);
            }
        }
    }
}

//Detail Panel
.panel-divider {
    padding: 25px 25px;
    border-bottom: 1px solid #ddd;
    color: rgb(93, 93, 93);
}

.panel-default>.panel-heading {
    background-color: #fff;
    border-color: #fff;
}

//table responsive
.table-responsive {
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 120px);
}

.nav-tabs {
    li {
        min-width: 150px;
        a {
            padding: 0;
        }
    }
}

//custom tab
.custom-tabs {
    border: 1px solid #eee;
    .remove-tabs {
        .nav.nav-tabs {
            display: none;
        }
    }
    span.main.bredcrums {
        font-size: 14px;
        color: $brand-primary; // color: #5d5d5d;
        font-weight: 400;
    }
    .tab {
        .tab-content {
            min-height: calc(100vh - 185px);
            .custom-scroll {
                min-height: 300px;
            }
        } //start bredcrum
        .bread-cum-holder {
            overflow: auto;
            white-space: nowrap;
            padding: 10px 20px; //scroll
            &::-webkit-scrollbar-track {
                border-radius: 5px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar {
                width: 0px;
                height: 5px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: #ccc;
            } //scroll end
            .breadcrum {
                min-width: 120px;
                position: relative;
                background: $brand-primary;
                border-width: 0;
                color: #fff;
                padding-left: 25px;
                margin: 10px 10px 0px 0;
                &:before {
                    content: '';
                    position: absolute;
                    left: -1px;
                    top: 0;
                    border-top: 16px solid transparent;
                    border-bottom: 16px solid transparent;
                    border-left: 15px solid white;
                    z-index: 1;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: -15px;
                    top: 0;
                    border-top: 16px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid $brand-primary;
                    z-index: 2;
                }
                &.true {
                    background: darken($brand-primary, 20%);
                    &:after {
                        border-left-color: darken($brand-primary, 20%);
                    }
                }
            }
        }
    } //end bredcrum
}

//tabel-logs
.pad-5 {
    padding: 5px;
}

.btn-big {
    padding: 8px 80px;
}

.title-sub {
    font-weight: 600;
}

.pointer {
    cursor: pointer;
}

.log-history {
    border-bottom: 1px solid #ddd;
}

//end tabel-logs
//Coming soon
.intro-title {
    font-family: latobold;
    font-size: 3.5em;
    font-weight: normal;
    padding: 22% 0;
    text-transform: uppercase;
    color: $brand-primary;
    background: #fff;
}

.accordion-custom {
    .panel,
    .panel-default>.panel-heading {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        &:first-child {
            border-top: none;
        }
        span {
            display: block;
        }
    }
    .panel {
        padding: 0px;
    }
    .panel-default>.panel-heading {
        padding: 0;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        padding: 0px 0 0;
        border: none;
        margin: 0;
    }
    .panel-group .panel+.panel {
        margin-top: 0;
    }
    .icon {
        font-size: 20px;
        margin-top: 0px;
        @include transition(all ease 300ms);
        color: #5d5d5d;
    }
}

.form-block.position-made {
    position: absolute;
    bottom: -56px;
    left: 50%;
    background: #fff;
    @include transform(translateX(-50%));
    padding: 0 10px;
    z-index: 1;
    span {
        padding: 0 5px;
        font-weight: 600;
    }
}

//End Coming Soon
//customer details loader
.cust-details_loader {
    display: none;
    text-align: center;
    img {
        width: 50px;
        height: 50px;
    }
}

.cust-details_loader_done {
    display: none;
    text-align: center;
    span {
        color: green; // background-color: green;
        font-size: 20px;
        font-weight: 900;
        border-radius: 7px;
        padding: 2px;
    }
}

.cust-details_hidesect {
    display: none;
}

.sidebar-menu.collapsed {
    display: none !important;
    width: 80px;
    z-index: 10;
    overflow: visible;
    transition: all initial 3ms;
}

.active.panel.panel-default.panel-open {
    .panel-heading {
        background: #96cae8;
    }
}

.logo-collapsed {
    float: left;
    padding: 20px;
    display: none;
}

.progress {
    width: 150px;
    margin-top: -12px;
    .progress-bar {
        font-size: 12px;
    }
}

#fileprogressbar {
    display: none;
    position: absolute;
    left: 130px;
    top: 16px;
}

.cust-details-logs {
    font-size: 14px;
    color: #5397be;
    font-weight: 400;
}

.loadermapping {
    text-align: center;
    img {
        width: 50px;
        height: 50px;
    }
}

.hidesect-loader {
    display: none;
    text-align: center;
    img {
        // width: 290px;
        // height: 250px;
    }
}

.mb-5 {
    margin-bottom: 5px;
}

.mgn-top40 {
    margin-top: 40px;
}

.pdright10 {
    padding-right: 10px !important;
}

.mg-top20 {
    margin-top: 20px;
}

// .mg-left-40 {
//     margin-left: 40px;
// }
.cur {
    cursor: pointer;
}

.mg-left-20 {
    margin-left: 20px;
}

.col-white {
    color: white !important;
}

// .active.panel.panel-default {
//     border: 1px solid rgba(83, 151, 190, 0.33);
// }
a.main-menu-anchor {
    font-size: 13px;
    font-weight: bold !important; //menu
}

.sidebar-menu .main-menu ul li a {
    font-size: 12px;
    font-weight: 500; //sub menu
}

// li.btn.btn-default.btn-primary.breadcrum {
//     font-size: 12px; //breadcrum
// }
.title-sub {
    color: #5d5d5d;
}

// .btn-upload.btn.btn-default.btn-outline.btn-small.create-btn {
//     font-size: 12px; //choose button
// }
// button.btn {
//     font-size: 12px; //xml button
// }
a.dropdown-toggle {
    span {
        font-size: 12px;
    }
}

footer.main-footer.sticky.footer-type-1 {
    background-color: #5397be;
}

.footer-text {
    p {
        color: white;
    }
}

.logs-tabel {
    margin-top: 20px;
}

.fnt {
    font-size: 13px;
}

.header-higt {
    height: 50px;
}

.pd10 {
    padding: 10px 10px !important;
}

.mgt-neg20 {
    margin-top: -10px !important;
}

.rule-insidepanel {
    background-color: rgba(97, 158, 193, 0.19);
    padding: 30px 20px;
    font-size: 13px;
    margin-bottom: 20px;
    color: rgb(93, 93, 93);
}

.close-button {
    font-size: 15px;
    position: relative;
    left: 70px;
    top: -20px;
}

.table {
    font-size: 12px;
    color: #5d5d5d;
    thead {
        tr {
            th {
                color: #5d5d5d;
            }
        }
    }
}

.exec {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.vio-table {
    margin-top: 20px;
    break-inside: avoid-column;
    span {
        margin-left: 25px;
        font-weight: bold;
        color: #5397be;
        font-size: 13px;
    }
    table {
        margin: 20px;
        margin-top: 10px;
    }
    th:first-child {
        width: 200px;
    }
    th {
        text-transform: capitalize;
    }
}

.column-2 {
    column-count: 2;
    padding-top: -10px !important;
}

.fnt-cpt {
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 30px;
}

.submitmgn {
    margin-bottom: 50px;
    margin-top: 30px;
}

.inside-status {
    height: 600px;
    overflow: scroll;
}

.t50 {
    top: 50px;
}

.mglneg31 {
    margin-left: -31px;
}

.table {
    th,
    td {
        text-align: center;
    }
    td:first-child,
    th:first-child {
        text-align: Left;
    }
}

.termsbody {
    height: 400px;
    overflow: scroll;
    font-size: 12px;
    overflow-x: hidden;
    b {
        font-size: 13px;
        color: #5d5d5d;
    }
}

.termstitle {
    color: black !important;
    letter-spacing: 0px !important;
    font-weight: bold !important;
}

.menucollapse {
    width: 0px;
    opacity: 0;
    transition: all 200ms;
}