<nav class="navbar user-info-navbar" role="navigation">
	<!-- User Info, Notifications and Menu Bar -->

	<!-- Left links for user info navbar -->
	<ul class="user-info-menu left-links list-inline list-unstyled">
		<li class="" ng-click="sideMenu()">
			<a data-toggle="sidebar" class="menu-icons">
				<i class="fa-bars"></i>
			</a>
		</li>
	</ul>


	<ul class="user-info-menu right-links list-inline list-unstyled">
		<li class="dropdown user-profile">
			<a class="dropdown-toggle" data-toggle="dropdown">
					<img src="img/template/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="40" />
					<span>
					Welcome, <br>	
					{{userData.name}}
					</span>
			</a>
			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li>
					<a>
					<i class="fa-edit"></i>
						New Post
					</a>
				</li>
				<li>
					<a>
					<i class="fa-wrench"></i>
						Settings
					</a>
				</li>
				<li>
					<a>
									<i class="fa-user"></i>
									Profile
								</a>
				</li>
				<li>
					<a>
									<i class="fa-info"></i>
									Help
								</a>
				</li>
				<li class="last">
					<a href="extra-lockscreen.html">
									<i class="fa-lock"></i>
									Logout
								</a>
				</li>
			</ul>
		</li>
		<!--			
					<li>
						<a data-toggle="chat">
							<i class="fa-comments-o"></i>
						</a>
					</li>
			-->
	</ul>

</nav>