<!-- <li ng-repeat="menu in navigation track by $index" ui-sref-active="active" class="{{menu.hasSub}} {{menu.subClass}}">
  <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor" class="hoverClass" ng-click="subMenu(menu);">
      <i class="fa {{menu.icon}}" ng-if="menu.icon"></i>
       <span class="title">{{menu.name}}</span>
      </a>
  <a href="{{menu.link}}" ng-if="menu.link" class="hoverClass">
       <i class="fa {{menu.icon}}" ng-if="menu.icon"></i>
      {{menu.name}}
    </a>
  <a ng-if="menu.hasSub" class="hoverClass" ng-click="subMenu(menu);">
       <i class="fa {{menu.icon}}" ng-if="menu.icon"></i>
      {{menu.name}}
    </a>
  <ul class="has-sub" ng-if="menu.subnav!=''">
    <li ng-repeat="submenu in menu.subnav track by $index" ui-sref-active="active">
      <a ui-sref="{{submenu.anchor}}" ng-if="submenu.anchor">
           <i class="fa {{submenu.icon}}" ng-if="menu.icon"></i>
          <span class="title">{{submenu.name}}</span>
        </a>
      <a herf="{{submenu.link}}" ng-if="submenu.link"> <span class="title">{{submenu.name}}</span></a>
    </li>
  </ul>
</li> -->
<div class="accordion-custom">
  <uib-accordion close-others="oneAtATime">
    <uib-accordion-group is-open="status.open" ng-repeat="menu in navigation track by $index" class="{{menu.classis}}" is-disabled="menu.disabled">
      <uib-accordion-heading>
        <a ui-sref="{{menu.anchor}}" class="main-menu-anchor" ng-if="menu.anchor" ui-sref-active="active">
          <!-- <i class="fa {{menu.icon}}" ng-if="menu.icon"></i> -->
          {{menu.name}}</a>
        <a ng-href="{{menu.link}}" class="main-menu-anchor" ng-if="menu.link && !accessToken" ng-click="$event.stopPropagation()">{{menu.name}}
        </a>
        <a class="main-menu-anchor" ng-if="menu.subnav">
          <!-- <i class="fa {{menu.icon}}" ng-if="menu.icon"></i> -->
          {{menu.name}}
          <i class="pull-right fa icon " ng-class="{'fa-angle-down':( status.open && !menu.disabled), 'fa-angle-right': (!status.open && !menu.disabled)}"></i>
        </a>
      </uib-accordion-heading>
      <ul class="nav-submenu list-unstyled">
        <li ng-repeat="submenu in menu.subnav">
          <a ui-sref="{{submenu.anchor}}" class="" ng-if="submenu.anchor">
            <!-- <i class="fa {{submenu.icon}}" ng-if="menu.icon"></i> -->
            {{submenu.name}}</a>
          <a ng-href="{{submenu.link}}" class="" ng-if="submenu.link && !accessToken" target="{{submenu.target}}">
            <!-- <i class="fa {{submenu.icon}}" ng-if="menu.icon"></i> -->
            {{submenu.name}}</a>
        </li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>
  <i class="fa {{menu.icon}}" ng-if="menu.icon"></i>
</div>